services:
  kafka:
    image: apache/kafka:3.9.1
    container_name: kafka
    networks:
      - kafka-network
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
      KAFKA_LISTENERS: INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:29093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  kafka-init:
    image: apache/kafka:3.9.1
    container_name: kafka-init
    networks:
      - kafka-network
    depends_on:
      - kafka
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "
      echo 'Waiting for Kafka...';
      until /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --list > /dev/null 2>&1; do
        sleep 2;
      done;
      echo 'Creating topics...';
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --create --if-not-exists --topic user-created --replication-factor 1 --partitions 1;
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --create --if-not-exists --topic order-created --replication-factor 1 --partitions 1;
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --create --if-not-exists --topic payment-created --replication-factor 1 --partitions 1;
      /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 --create --if-not-exists --topic expiration-complete --replication-factor 1 --partitions 1;
      echo 'Done.';
      "

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    networks:
      - kafka-network
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local-kafka
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092

  auth:
    build: ./auth
    container_name: auth-service
    ports:
      - "3000:3000"
    environment:
      - KAFKA_BROKER=kafka:29092
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    networks:
      - kafka-network

  products:
    build: ./products
    container_name: products-service
    ports:
      - "3001:3001"
    networks:
      - kafka-network

  orders:
    build: ./orders
    container_name: orders-service
    ports:
      - "3002:3002"
    environment:
      - KAFKA_BROKER=kafka:29092
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    networks:
      - kafka-network

  payments:
    build: ./payments
    container_name: payments-service
    ports:
      - "3003:3003"
    environment:
      - KAFKA_BROKER=kafka:29092
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    networks:
      - kafka-network

  expiration:
    build: ./expiration
    container_name: expiration-service
    environment:
      - KAFKA_BROKER=kafka:29092
      - KAFKAJS_NO_PARTITIONER_WARNING=1
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge
